body {
    background-color: #5bff6c;
    body bgcolor="#5bff6c";
}
h1 {
    text-shadow: 2px 2px Black;
    color:#ffd800
}
h2 {text-shadow: 2px 2px #ffd800}
p {color:#ffee00;}
div {outline-color: black;}